.spinner {
  position: absolute;
  // width: 400px;
  // height: 400px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 9999;
  color: rgb(0, 188, 212);
  font-family: Roboto, sans-serif;

  &-hidden {
    display: none;
  }

  &-show {
    display: block;
  }

  & h2 {
    font-size: 36px;
    margin-top: 25%;
    text-align: center;
  }

  & p {
    font-size: 28px;
    text-align: center;
  }
}