canvas {
  // background: lightblue;
  width: 85%;
  height: 86vh !important;
  // margin-left: -370px;
  border-left: 2px solid black;
}

#chart {
  width: 85%;
  height: 200px !important;
  border: none;
}

.tab-canvas {
  width: 80%;
  float: right;

}

.tab-settings {
  width: 20%;
  float: left;
}

.settings {
  width: 70%;
  margin: 20px auto;
}

.select-vertex {
  width: 100% !important;
}

.btn-add-remove-container {
  width: 70%;
  margin: 0 auto;

  &>div:first-child {
    margin-right: 15px;
  }
}

.custom-btn-default {
  width: 100%;
  margin-bottom: 15px;
  // margin: 0 auto;
}
