canvas {
  // background: lightblue;
  width: 85%;
  height: 86vh !important;
  // margin-left: -370px;
  border: 2px solid black;
}

.tab-canvas {
  width: 80%;
  float: right;

}

.tab-settings {
  width: 20%;
  float: left;
}
// .settings {
//   float: right;
//   width: 15%;
// }
