canvas#canvas {
  // background: lightblue;
  width: 85%;
  height: 86vh !important;
  // margin-left: -370px;
  //border-left: 2px solid black;
}

#chart {
  width: 85%;
  height: 200px !important;
  border: none;
}

.tab-canvas {
  width: 80%;
  float: right;

}

.tab-settings {
  width: 20%;
  float: left;
}
